@font-face {
    font-family: 'Pacifico';
    src: url(../assets/fonts/Pacifico-Regular.ttf);
    font-style: normal;
}

body{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 95vh;
    width: 99vw;
    background-color: rgb(129, 129, 129);

}

#content{
    background-color: rgb(129, 129, 129);
    height: 100px;
    width: 100px;

}
.pizza-img{
    height: 200px;
    width: 200px;
}

.main-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(129, 129, 129);
    /* height: 100px;
    width: 100%; */

}

.header{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    line-height: 100%;
    font-family: 'Pacifico';

}

.menu-item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    text-align: center;
    font-size: 30px;
    font-family: 'Pacifico';
}

.about-us-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-us-p{
    text-align: center;
    font-size: 25px;
    
}
.rest-name-p{
    font-size: 70px;
    font-family: 'Pacifico';

}

#locations-header{
    text-align: center;
    font-size: 70px;
    font-family: 'Pacifico';
}

.locations-place{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Pacifico';
    font-size: 30px;
    background-color: transparent;
}

#iraq {
  background: linear-gradient(#cd1125 33%, #fff 33%, #fff 66%, #000 0);
  display: grid;
  place-items: center;
  width: 300px;
  height: 200px;
  color: rgb(0, 92, 0);
  font-weight: bolder;
}


